body {
  background: #eee;
  color: #333;
  font-family: Helvetica, sans-serif;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

button {
  background: #707070;
  color: #eee;
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }
}

.btn {
  &--success {
    background: green;
  }

  &--danger {
    background: red;
  }

  &--edit {
    background: dodgerblue;
  }
}

.tasks {
  border: 1px solid #ccc;
  margin: 2rem 0;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;

  &__item {
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    border-bottom-width: 3px;
    padding: 1rem;
    width: calc(100% / 3 - 3rem - 2px);
    margin: 0.5rem;

    &--done {
      background: #e4f0dd;
    }

    h2 {
      margin-top: 0;
    }

    button {
      margin-right: 0.5rem;
    }

    input[type="text"],
    input[type="datetime-local"],
    textarea {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ccc;
      margin-bottom: 0.5rem;
      line-height: 1rem;
      padding: 0.5rem;
      box-sizing: border-box;
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        margin-left: auto;
      }
    }
  }

  &__add {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 50px 0 rgba($color: #000000, $alpha: 0.2);

    h3 {
      margin-top: 0;
    }

    input,
    textarea {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }

  &__filter {
    span {
      margin-right: 1rem;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed #ccc;
  margin-bottom: 2rem;
}
