body {
  background: #eee;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

.tasks {
  border: 1px solid #ccc;
  margin: 2rem 0;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    background: #fff;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    border-bottom-width: 3px;
    padding: 1rem;
    width: calc(100% / 3 - 4rem - 4px);
    margin: 1rem;
  }

  &__add {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    input,
    textarea {
      margin-bottom: 1rem;
      font-size: 1rem;
    }
  }
}
